@page
@using WebApplication2.Pages.Database.model
@using WebApplication2.Pages.Database.repository
@model WebApplication2.Pages.DashBoard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--<link rel="stylesheet" href="/css/dash.css">-->
    <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Dashboard</title>
</head>
<body>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Primary</th>
            <th>Type</th>
            <th>is adult</th>
            <th>start year</th>
            <th>end year</th>
            <th>num minutes</th>
            <th>average rating</th>
            <th>number of votes</th>
            <th>season number</th>
            <th>episode number</th>
            <th>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    filters
                </button>

            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.titles)
        {
            <tr>
                <td>
                    <a href="/TitleInfo?tconst=@title.tconst">@title.primary</a>
                </td>
                <td>@title.type</td>
                <td>@title.isadult</td>
                <td>@title.startyear</td>
                <td>@title.endyear</td>
                <td>@title.runtimemin</td>
                <td>@title.averagerating</td>
                <td>@title.numvotes</td>
                <td>@title.seasonnr</td>
                <td>@title.episodenr</td>

            </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Filters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page-handler="Filter">
                <div class="modal-body">

                    <div>
                        <label>Type</label>
                        <select name="type" id="type" asp-for="settings.type">
                            <option value="empty">empty</option>
                            <option value="film">film</option>
                            <option value="game">game</option>
                            <option value="docu">docu</option>
                            <option value="otto">otto</option>
                            <option value="jan">jan</option>
                            <option value="foeke">foeke</option>
                        </select>
                    </div>
                    <div>
                        <label>Ook 18+ films laten zien?</label>
                        <select name="isAdult" id="isAdult" asp-for="settings.isAdult">
                            <option value="true">true</option>
                            <option value="false">false</option>
                            <option value="all">all</option>
                        </select>
                    </div>

                    <div>
                        <label>Start year</label>
                        <select name="isstart" id="=1" asp-for="settings.isstart">
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                        </select>
                        <input id="startyear" name="startyear" placeholder="start year" style="width: 100px" asp-for="settings.startyear"/>
                    </div>

                    <div>
                        <label>end year</label>
                        <select name="isend" id="=2" asp-for="settings.isend">
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                        </select>
                        <input id="endyear" name="endyear" placeholder="end year" style="width: 100px" asp-for="settings.endyear"/>
                    </div>

                    <div>
                        <label>num minutes</label>
                        <select name="isruntime" id="=3" asp-for="settings.runtimeMinutes">
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                        </select>
                        <input name="runtimeMinutes" placeholder="num minutes" style="width: 100px" asp-for="settings.isruntime"/>
                    </div>

                    <div>
                        <label>average rating</label>
                        <select name="isavg" id="=4" asp-for="settings.isavg">
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                        </select>
                        <input name="averageRating" placeholder="avg rating" style="width: 100px" asp-for="settings.averageRating"/>
                    </div>

                    <div>
                        <label>number of votes</label>
                        <select name="isnum" id="=5" asp-for="settings.isnum">
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                        </select>
                        <input name="numVotes" placeholder="num votes" style="width: 100px" asp-for="settings.numVotes"/>
                    </div>

                    <div>
                        <label>number of seasons</label>
                        <select name="isseason" id="=6" asp-for="settings.isseason">
                            <option value="=">=</option>
                            <option value=">">></option>
                            <option value="<"><</option>
                        </select>
                        <input name="seasonnr" placeholder="season number" style="width: 100px" asp-for="settings.seasonnr"/>
                    </div>

                    <div>
                        <label>episode number</label>
                        <input name="episodenr" placeholder="episode number" style="width: 100px" asp-for="settings.episodenr"/>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                    <button class="btn btn-primary">Save changes</button>

                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>