@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using WebApplication2.Pages.Database.model
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model WebApplication2.Pages.DashBoard

@{
    ViewData["Dashboard"] = "Dashboard";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Primary</th>
            <th>Type</th>
            <th>is adult</th>
            <th>start year</th>
            <th>end year</th>
            <th>num minutes</th>
            <th>average rating</th>
            <th>number of votes</th>
            <th>season number</th>
            <th>episode number</th>
            <th>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filtersModal">
                    filters
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.titles)
        {
            <tr>
                <td>
                    <a href="/TitleInfo?tconst=@title.tconst">@title.primarytitle</a>
                </td>
                <td>@title.type</td>
                <td>@title.isadult</td>
                <td>@title.startyear</td>
                <td>@title.endyear</td>
                <td>@title.runtimemin</td>
                <td>@title.averagerating</td>
                <td>@title.numvotes</td>
                <td>@title.seasonnr</td>
                <td>@title.episodenr</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtersModalLabel">Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Filter">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><label>Type</label></td>
                        <td></td>
                        <td>
                            <select name="type" id="type" asp-for="settings.type">
                                <option value="empty">empty</option>
                                @foreach (var type in Model.types)
                                {
                                    <option value="@type.type">@type.type</option>
                                }
                            </select></td>
                    </tr>
                    <tr>
                        <td><label>18+</label></td>
                        <td></td>
                        <td>
                            <select name="isAdult" id="isAdult" asp-for="settings.isAdult">
                                <option value="true">true</option>
                                <option value="false">false</option>
                                <option value="all">all</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><label>Start year</label></td>
                        <td>
                            <select name="isstart" id="=1" asp-for="settings.isstart">
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select></td>
                        <td><input id="startyear" name="startyear" placeholder="start year" style="width: 100px" asp-for="settings.startyear"/></td>
                    </tr>
                    <tr>
                        <td><label>end year</label></td>
                        <td>
                            <select name="isend" id="=2" asp-for="settings.isend">
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select></td>
                        <td><input id="endyear" name="endyear" placeholder="end year" style="width: 100px" asp-for="settings.endyear"/></td>
                    </tr>
                    <tr>
                        <td><label>num minutes</label></td>
                        <td>
                            <select name="isruntime" id="=3" asp-for="settings.isruntime">
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select></td>
                        <td><input name="runtimeMinutes" placeholder="num minutes" style="width: 100px" asp-for="settings.runtimeMinutes"/></td>
                    </tr>
                    <tr>
                        <td><label>average rating</label></td>
                        <td>
                            <select name="isavg" id="=4" asp-for="settings.isavg">
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select></td>
                        <td><input name="averageRating" placeholder="avg rating" style="width: 100px" asp-for="settings.averagerating"/></td>
                    </tr>
                    <tr>
                        <td><label>number of votes</label></td>
                        <td>
                            <select name="isnum" id="=5" asp-for="settings.isnum">
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select></td>
                        <td><input name="numVotes" placeholder="num votes" style="width: 100px" asp-for="settings.numVotes"/></td>
                    </tr>
                    <tr>
                        <td><label>number of seasons</label></td>
                        <td>
                            <select name="isseason" id="=6" asp-for="settings.isseason">
                                <option value="=">=</option>
                                <option value=">">></option>
                                <option value="<"><</option>
                            </select></td>
                        <td><input name="seasonnr" placeholder="season number" style="width: 100px" asp-for="settings.seasonnr"/></td>
                    </tr>
                    <tr>
                        <td><label>episode number</label></td>
                        <td></td>
                        <td><input name="episodenr" placeholder="episode number" style="width: 100px" asp-for="settings.episodenr"/></td>
                    </tr>
                    <tr>
                        <td><label>Aantal rows</label></td>
                        <td></td>
                        <td><input name="Limit" placeholder="100" style="width: 100px" asp-for="settings.limit"/></td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-danger" asp-page-handler="Clear">Reset</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" asp-page-handler="Filter">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>


