@page
@using WebApplication2.Pages.Database.model
@using WebApplication2.Pages.Database.repository
@model WebApplication2.Pages.DashBoard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--<link rel="stylesheet" href="/css/dash.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Primary</th>
            <th>Type</th>
            <th>is adult</th>
            <th>start year</th>
            <th>end year</th>
            <th>Duration minutes</th>
             <th>average rating</th>
            <th>number of votes</th>
            <th>season number</th>
            <th>episode number</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.titles)
        {
            <tr>
                <td><a href="/TitleInfo?tconst=@title.tconst">@title.primary</a></td>
                <td>@title.type</td>
                <td>@title.isadult</td>
                <td>@title.startyear</td>
                <td>@title.endyear</td>
                <td>@title.runtimemin</td>
                <td>@title.averagerating</td>
                <td>@title.numvotes</td>
                <td>@title.seasonnr</td>
                <td>@title.episodenr</td>

            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>