@page
@using System.Data
@model WebApplication2.Pages.Input

@{
    ViewData["Input"] = "Input";
}

<!DOCTYPE html>

<html>
<head>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title></title>
</head>
<body>
<div style="text-align: center; margin-top: 10px">
    <a>Deze pagina pakt 100 rijen van de gestelde vraag  |</a>
    <a>  u mag alleen vergelijkingen met cijfers vragen  |</a>
    <a>  max één vergelijking per keer! </a>
</div>
<div style="text-align: center; margin-top: 10px">
    <a>Stel één vraag:</a>
    <form method="post" asp-page-handler="Vraag">
        <input id="vraag" name="vraag" style="width: 750px"/>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<div>
    @if (Model.feedback.Count != 0)
    {

        <p>Van welk veld wilt u @Model.feedback[10][0].Item1 @Model.feedback[11][0].Item1</p>
        int iterator = 0;
        foreach (var lists in Model.feedback)
        {

            if (iterator != 10)
            {
                if (iterator != 11)
                {
                    foreach (var colums in lists)
                    {
                        <form method="post" asp-page-handler="Antwoord">
                            <input type="hidden" id="antwoord" name="antwoord" value="@colums.Item2"/>
                            <div>
                                <button class="btn btn-primary" style="margin: 5px">@colums.Item1</button>
                                <span>van kolom: @colums.Item2</span>
                            </div>
                        </form>
                    }
                }
            }
            iterator++;
        }
    }

</div>
@if (Model.answer != null)
{
    <div style="margin: 5px">
        @{

            // Get the column names from the DataTable
            string[] columnNames = Model.answer.Columns.Cast<DataColumn>().Select(col => col.ColumnName).ToArray();
        }
        <table class="table table-bordered">
            <thead>
            <tr>
                @foreach (string columnName in columnNames)
                {
                    <th>@columnName</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (DataRow row in Model.answer.Rows)
            {
                <tr>
                    @foreach (string columnName in columnNames)
                    {
                        <td>@(row[columnName] != null ? row[columnName].ToString() : "")</td>
                    }
                </tr>
            }
            </tbody>
        </table>

    </div>
}
</body>
</html>
