@page
@using WebApplication2.Pages.Database.model
@using System.Globalization
@model WebApplication2.Pages.Test

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!--<link rel="stylesheet" href="/css/dash.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
<div>
    <h1>@Model.tname</h1>
    <a href="https://imdb.com/title/@Model.Tconsts">
        imdb
    </a>
    <a href="https://imdb.com/title/@Model.Tconsts/fullcredits">credits</a>
</div>
<!--Primary-->
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.title)
        {
            <td>@title.type</td>
        }
        </tbody>
    </table>
</div>
<!--Details-->
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.title)
        {
            <tr>
             <td>
                 <p>Adult: @title.isadult.ToString().ToLower()</p> 
             </td>
            </tr>
            <tr>
                <td>
                    <p>@title.startyear - @title.endyear</p> 
                </td>
            </tr>
            <tr>
                <td>
                    <p>Duration: @TimeSpan.FromMinutes(@title.runtimemin).ToString()</p> 
                </td>
            </tr>
            <tr>
                <td>
                    <p>S @title.seasonnr . @title.episodenr</p> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div> 
<!--Rating-->
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.title)
        {
            <tr>
                <td>
                    <p>@title.averagerating / @title.numvotes</p> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div> 
<!--BoxOffice-->
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var title in Model.title)
        {
            <tr>
                <td>
                    <p>gross domestic: @title.gross_domestic.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))</p> 
                </td>
            </tr>
            <tr>
                <td>
                    <p>gross worldwide: @title.gross_worldwide.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))</p> 
                </td>
            </tr>
            <tr>
                <td>
                    <p>opening weekend @title.opening_weekend.ToString("C3", CultureInfo.CreateSpecificCulture("en-US"))</p> 
                </td>
            </tr>
        }
        </tbody>
    </table>
</div> 
<!--Principals-->
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>PrimaryName</th>
            <th>role</th>
            <th>birthYear</th>
            <th>deathYear</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var individual in Model.individuals)
        {
            <tr>
                <td>
                    <a href="/PersonInfo?nconst=@individual.nconst">@individual.primary</a>
                </td>
                <td>@individual.Principals.category</td>
                <td>@individual.birthyear</td>
                <td>@individual.deathyear</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<!--Akas-->
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Alternative Title</th>
            <th>Language</th>
            <th>Region</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var aka in Model.Akas)
        {
            <tr>
                <td>@aka.title</td>
                <td>@aka.language</td>
                <td>@aka.region</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<!--Companies-->
<div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>company</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var company in Model.Companies)
        {
            <tr>
                <td>@company.name</td>
            </tr>
        }
        </tbody>
    </table>
</div> 
</body>
</html>